body{
    background-color: rgb(227, 228, 240);
    font-family: 'Noto Sans KR', sans-serif;
}

h1{
    color: rgb(60, 60, 104);
    font-weight: 100;
    margin:50px 0;

}

main{
    display: flex;
}

section{
    background-color: white;
    border-radius: 1%;
    width: 300px;
    height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px;
    margin: 15px;
    cursor: pointer;
}

section:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: all 0.3s;
    transform-origin:0 100%; /*회전 중심점(원점·기준점)을 지정*/
    transform: scaleY(1.04);
}

h3{
    color: gray;
    font-weight: 200;
}

section p{
    color: rgb(0, 102, 255);
    font-size: 2.2em;
    font-weight: 600;
    /*display: flex-column;*/
    height: 360px;    
    border: solid;    
}

.imgFlex{
    display: flex;
    align-items: flex-end;
    border: solid #cccccc;
}

section p span{
    font-size: 20px;
    font-weight: 400;
}

section p img{
    width: 130px;
    filter: grayscale(0.4);
    /*margin-top: 55px;*/
    border: solid #cccccc;
    align-items: flex-end;
}



/*********************************************************************************/


.card .box .fill {
  width: 100px;
  height: 100px;
  position: relative;
  background: orange;
  box-shadow: 0 0 5px #cccccc;
  transition: .3s;
}

.scaleY:hover .fill {
  transform: scaleY(1.5);
}

.to-0-100 {
  transform-origin: 0 100%;
}


