.mother{
    border: 1px solid red;
    display: flex;
    /* justify-content: space-around; /*flex-start flex-end center space-between*/
    /* align-items: center; /*flex-start flex-end*/
    height: 100vh;
    flex-direction: column; /*가로세로뒤바뀐다.*/
    justify-content: space-between; /*flex-end*/
}

.children{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}

display flex가 있어야 요소들을 유연하게 위치시킬 수 있다.
flex는 부모만 가지고 있을 수 있으며, 자식들에게 적용이 된다
flex는 기본적으로 자식들을 가로로 정렬 시킨다
justify-content는 가로로 요소들을 입맛대로 정렬 시킨다
align-items는 세로로 요소들을 입맛대로 적용 시킨다
그런데, 내가 세로 정렬로 바꾸고 싶으면
flex-direction: column을 쓰면 된다
단! column을 쓰고 나면, justify-content가 가로에서 세로로
가로정렬로 바뀐다!
연습게임: flexboxfroggy
정답도 구글에 24level answer검색하면 다 나옴.
flex-direction:column-reverse 또는 row-reverse
justify-content:center;
align-items:end;

마지막답!!
flex-direction:column-reverse;
flex-wrap:wrap-reverse;
align-content:space-between;
justify-content:center;

flexbox 의 특징!🎊
1. display: flex는 모든 요소를 가로로 둔다 
2. display: flex는 부모한테 적용을 하고 자손을 건트롤 한다.
3. justify-content :가로로 요소들을 움직인다 (flex-start, center, flex-end, space-between, space-around 등의 값이 있음)
4. align-items: 세로로 요소들을 움직인다  
5. flex-direction:column 가로로 정렬된 요소를 세로로 바꾸고 justify-content는 세로로 align-items는 가로방향으로 바뀐다 